<app-header></app-header>
<div class="user-profile" style="margin-top: 200px;">
  <h2>Your Profile</h2>

  <!-- Display Profile Details -->
  <div class="profile-details" *ngIf="!isEditingProfile">
    <div class="detail">
      <label>Username:</label>
      <span >{{UserObj.name}}</span>
    </div>
    <div class="detail">
      <label>Email:</label>
      <span>{{UserObj.email}}</span>
    </div>
    <div class="detail">
      <label>Phone:</label>
      <span>{{ UserObj.phoneNo }}</span>
    </div>
    <div class="detail">
      <label>Address:</label>
      <span>{{ UserObj.address }}</span>
    </div>
    <button class="update-profile" (click)="enableProfileEdit()">Update Profile</button>
  </div>

  <!-- Edit Profile Form -->
  <form *ngIf="isEditingProfile" (ngSubmit)="onProfileSubmit()">
    <div class="row mt-2">
      <div class="col-md-6">
          <label class="labels">Name</label>
          <input [(ngModel)]="UserObj.name" type="text"  name="name" class="form-control" placeholder="" value="">
      </div>
  </div>
  <div class="row mt-3">
      <div class="col-md-12">
          <label class="labels">Mobile Number</label>
          <input disabled="true" [(ngModel)]="UserObj.phoneNo"  name="phone" type="text" class="form-control" placeholder="enter phone number" value="">
      </div>
      <div class="col-md-12">
          <label class="labels">Address</label>
          <input [(ngModel)]="UserObj.address" type="text"  name="address" class="form-control" placeholder="enter address " value="">
      </div>
      <div class="col-md-12">
          <label class="labels">Email ID</label>
          <input disabled="true" [(ngModel)]="UserObj.email" name="email" type="text" class="form-control" placeholder="enter email id" value="">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="save-profile">Save</button>
      <button type="button" class="cancel-profile" (click)="cancelProfileEdit()">Cancel</button>
    </div>
  </form>
</div>
