<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <!-- Section: Social media -->
  <!-- Section: Links -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Left Section -->
        <div class="col-md-3 col-lg-4 col-xl-3 ">
          <h6 class="text-uppercase fw-bold mb-4">Contact Details</h6>
          <p>{{ yourName }}</p>
          <p>{{ yourPhoneNumber }}</p>
          <p>{{ yourEmail }}</p>
          
        </div>
        <!-- Left Section -->

        <!-- Middle Section -->
        <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">About Us</h6>
          <p>
            Our company serves authenticated sellers and helps local sellers grow.
            We also assist customers in finding nearby shops to save time while searching.
          </p>
          <p>
            <a href="/privacy-policy" class="text-reset">Privacy and Policies</a>
          </p>
        </div>
        <!-- Middle Section -->

        <!-- Right Section -->
        <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Customer Support</h6>
          <p>
            Reach us at:
            <a href="mailto:nearyou.Support@ust.com" class="text-reset">
              nearyou.support&#64;ust.com
            </a>
          </p>
          <p>NearYou Office :
            123 Market Street, Suite 456
            Downtown Heights, New York, NY 10001
            United States</p>

        </div>
         
        <!-- Right Section -->
        <div class="d-flex align-items-center" style="margin: 2%;">
          <h6 class="text-uppercase fw-bold mb-0 me-3 text-center">Connect with us on social networks:</h6>
          <div class="d-flex">
            <a href="https://www.facebook.com" class="me-3 text-reset" target="_blank">
              <img src="facebook.svg" alt="Facebook" style="width: 24px; height: 24px;">
            </a>
            <a href="https://www.twitter.com" class="me-3 text-reset" target="_blank">
              <img src="twitter.svg" alt="Twitter" style="width: 24px; height: 24px;">
            </a>
            <a href="https://www.google.com" class="me-3 text-reset" target="_blank">
              <img src="google.svg" alt="Google" style="width: 24px; height: 24px;">
            </a>
            <a href="https://www.instagram.com" class="me-3 text-reset" target="_blank">
              <img src="instagram.svg" alt="Instagram" style="width: 24px; height: 24px;">
            </a>
            <a href="https://www.youtube.com" class="me-3 text-reset" target="_blank">
              <img src="youtube.svg" alt="Instagram" style="width: 24px; height: 24px;">
            </a>
            <a href="https://www.whatsapp.com" class="me-3 text-reset" target="_blank">
              <img src="whatsapp.svg" alt="whatsapp" style="width: 24px; height: 24px;">
              </a>
          </div>
        </div>       
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    &copy; 2024 NearYou. All rights reserved.
  </div>
  <!-- Copyright -->
</footer>
